@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

/* Colors are imported from another style sheet based upon color theme  */

.compass-image {
  width: 100%;
  height: 100%;
  border: red solid 10px;
}

.linkButton {
  display: inline-block;
  line-height: 1;
  border-width: 0px;
  padding: 4px;
  border-radius: 4px;
  border-style: solid;


  color: var(--c_red);
  text-decoration: none;
  cursor:link;
}

.linkButton:hover {

  background-color: var(--c_backgroundLight);
}

.footer-text {
  margin: 0px;
  font-size: 16px;
}


.info-text-bulletpoint {
  margin-bottom: 0em;
  margin-top: 0em;
}

.teacherDisplay {
  position: fixed;
  box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.3);
  border-radius: 4px;
  display: none;
  /*border-style: solid;*/
  /* width: 200px; */
  background-color: var(--c_background);
  color: var(--c_text);
  /*border-width: 1px;*/
  /*border-color: var(--c_text); */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#teacherNameDisplay {
  margin-top: 0px;
  margin-bottom:5px;
}

body {
  font-family: Hind;
  background-color: var(--c_background);
}

/* Grid: */

.item1 {
  grid-area: header;

  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--c_headText);

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--c_headText);

  margin-left: 40px;
  margin-right: 15px;
}
/* header stuff: */
.navbar-title {
  text-align: left;
  font-size: 35px;
}

.navbar-subtext {
  text-align: right;
}
/* ------------- */

.item2 {grid-area: leftspacer;}
.item3 {
  grid-area: compass;
  user-drag: none;
  user-select: none;
  -webkit-user-drag:none;
}
.item4 {
  grid-area: info;
  font-size: 18px;
  margin: 10px;
  color: var(--c_text);
}
.item5 {grid-area: rightspacer;}
.item6 {
  grid-area: footer;
  color: var(--c_text);
  height: 60%;
  text-align: left;
}

.teacherSelect {
  display: inline;
}

.grid-container {
  display: grid;
  grid-template-areas:
   'header header header header'
   '. compass  info  .'
   'footer footer  footer  footer';
   grid-template-columns: 1fr 10fr 10fr 1fr;
   grid-template-rows: 50px auto 50px;
   grid-gap: 10px;
   /*background-color: #2196F3; */
   /*padding: 5px;*/

}

/* Grid screensize reactions */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-areas:
     'header header header header'
     'compass compass  info info'
     'footer footer  footer  footer';
  }
}

@media screen and (max-width: 1076px)
{
  .grid-container {
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
     'header header'
     'compass compass'
     'info info'
     'footer footer';
  }
}


.grid-container > div {
  /*padding: 5px; */

}
