@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

/* Colors!  */
:root {
  --c1: #FFFFFF; /* */
  --c2: #FFFFFF; /* */
  --c3: #FFFFFF; /* */
  --c4: #FFFFFF; /* */
}

.compass-image {
  width: 100%;
  height: 100%;
  border: red solid 10px;
}

.footer-text {
  margin: 0px;
  font-size: 16px;
}

.info-text {

}

.info-text-bulletpoint {
  margin-bottom: 0em;
  margin-top: 0em;
}

body {
  font-family: Hind;
}

/* Grid: */

.item1 {
  grid-area: header;
  text-align: right;
  margin-right: 50px;
}
.item2 {grid-area: leftspacer;}
.item3 {
  grid-area: compass;
  user-drag: none;
  user-select: none;
  -webkit-user-drag:none;
}
.item4 {
  grid-area: info;
  font-size: 18px;
  margin: 10px;
}
.item5 {grid-area: rightspacer;}
.item6 {
  grid-area: footer;
  height: 60%;
  text-align: left;
}

.teacherSelect {
  display: inline;
}

.grid-container {
  display: grid;
  grid-template-areas:
   'header header header header'
   '. compass  info  .'
   'footer footer  footer  footer';
   grid-template-columns: 1fr 10fr 10fr 1fr;
   grid-template-rows: 50px auto 50px;
   grid-gap: 10px;
   /*background-color: #2196F3; */
   padding: 5px;
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-areas:
     'header header header header'
     'compass compass  info info'
     'footer footer  footer  footer';
  }
}

@media screen and (max-width: 1076px)
{
  .grid-container {
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
     'header header'
     'compass compass'
     'info info'
     'footer footer';
  }
}


.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  padding: 5px;

}
