{% extends "layout.html" %}

{% block head %}
  <title> Home - Teacher Compass </title>
  <link id="pageColors" href="" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="grid-container">
    <!-- Header -->

    <div class="item1">
    {% if current_user.is_authenticated %}
      <div class="navbar-title">The Definitive Teacher Compass</div> <div class="navbar-subtext">You are signed in, welcome {{current_user.name}} <a class="linkButton" onclick="changeTheme()"> Change theme </a> <a class="linkButton" href="/score"> Submit your own values </a>   <a class="linkButton" href="/logout">Logout</a> </div>
    {% else %}
      <div class="navbar-title">The Definitive Teacher Compass</div> <div class="navbar-subtext"> Please log in to submit your own values <a class="linkButton" href="/login">Login</a> </div>
    {% endif %}
    </div>

    <!-- Left spacer
    <div class="item2"></div>
     -->

    <!-- Image -->
    <div class="item3">
      <canvas id="compassCanvas" width="800" height="562"
      style="border:0px;">
      Your browser does not support the canvas element
      </canvas>
    </div>

    <!-- Text -->
    <p>
    <div class="item4">
      <select name="TeacherCode" id="teacherFilerBy" onchange="axisUpdated()" class="teacherCodeSelect" value="">
        {% for teacher in teachers %}
          <option value="{{teacher}}">{{teacher}}</option>
        {%endfor%}
      </select>
      <input type="checkbox" id="teacherCheckbox" onchange="axisUpdated()">
      Filter by teacher<p>

      <p class="info-text"> Welcome to the Burnside teacher compass. This is a web app which
        allows students to democratically vote on their teacher's teaching style. This is the
        homepage which displays the <b>average</b> rating for all teachers. If you would like to
        submit your own values, click on the link in the top right corner.</p>

        <p class="info-text"> <b>X axis:</b> </p>
        <ul>
          <li>More caring: Viewed as more compassionate. You could probably confide and have more casual conversations with them.</li>
          <li>More punitive: Less lenient, more likely to tell you off for minor infractions which other teachers might ignore.</li>
        </ul>

        <p class="info-text"> <b>Y axis:</b> </p>
        <ul>
          <li>Authority: More strict around school guidelines and following directives from the higher ups. Not to be confused with punitive as strict teachers can still be nice. No-nonsense approach to learning. Not someone you would tell a joke to.</li>
          <li>Relaxed: Less strict around school guidelines. More lenient, especially around minor uniform infractions or being minorly late. Are less controlling over student approaches to learning.</li>
        </ul>

        <p class="info-text"> <b>Z axis:</b> </p>
        <ul>
          <li>Self-directed learning: Less input and control over the path of lessons. Typically more flexible on lessons and time dedicated to certain topics. Class time is more student oriented with plenty of time for students to discuss and individually research. The teacher generally hovers around the class giving assistance to students when it is needed.</li>
          <li>Directed learning: More input and control over the path of lessons. Less flexible on lessons and time dedicated to certain topics. Class time is teacher oriented with the teacher walking the class through concepts. Little or no time is given to student discussion and individual tasks.</li>
        </ul>
    </div>

    <!-- Right spacer

    <div class="item5"></div>
    -->

    <!-- Footer -->
    <div class="item6">
      <p class="footer-text"> Made by Oliver Coates. Please contact 17012@burnside.school.nz with any requests or questions</p>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  const drawColor = () => getComputedStyle(document.documentElement).getPropertyValue('--c_draw');
  const compassImage = () => getComputedStyle(document.documentElement).getPropertyValue('--img_compass');

  console.log(getComputedStyle(document.documentElement).getPropertyValue("--c_draw") );

  var teacher_averages = {{teacher_averages|safe}}

  const context = document.querySelector("#compassCanvas").getContext("2d");
  const image = new Image();
  image.src = compassImage().trim();
  image.addEventListener("load", () => {
    context.drawImage(image, 0, 0, 800, 562);
    axisUpdated();
  });

  function axisUpdated()  {
    context.clearRect(0, 0, 800, 562);
    console.log("drawing image: ", image);
    context.drawImage(image, 0, 0, 800, 562);

    if (document.querySelector("[id=teacherCheckbox]").checked) {
      const reqTeacherCode = document.querySelector("[id=teacherFilerBy]").value;
      const teacherValues = teacher_averages[reqTeacherCode];

      context.beginPath();
      const posX = parseFloat(teacherValues[0]) * 21.6 + 303;
      const posY = -parseFloat(teacherValues[1]) * 21.6 + 281;
      const posZ = parseFloat(teacherValues[2]) * 21.6 + 281;
      context.fillStyle = drawColor();

      context.font = "15px Arial";
      context.arc(posX , posY , 5, 0, 2 * Math.PI);
      context.fillText(reqTeacherCode, posX + 10, posY + 5);
      context.arc(664, posZ, 5, 0, 2 * Math.PI);
      context.fillText(reqTeacherCode, 674, posZ + 5);

      context.fill();
    } else {
      // Draw all the teachers on the canvas
      for([key, val] of Object.entries(teacher_averages)) {
        {# console.log(key, val); #}
        context.beginPath();

        const posX = parseFloat(val[0]) * 21.6 + 303;
        const posY = -parseFloat(val[1]) * 21.6 + 281;
        const posZ = parseFloat(val[2]) * 21.6 + 281;
        context.fillStyle = drawColor();

        context.font = "15px Arial";
        context.arc(posX , posY , 5, 0, 2 * Math.PI);
        context.fillText(key, posX + 10, posY + 5);
        context.arc(664, posZ, 5, 0, 2 * Math.PI);
        context.fillText(key, 674, posZ + 5);

        context.fill();
      }
    }

  };

  function drawPositions()  {

    console.log(">>> ", teacher);
  };

  // THEME:

  function changeTheme() {
      // theme = theme === 'light' ? 'dark' : 'light'
      if (localStorage.getItem('theme') === 'dark') {
        localStorage.setItem('theme', 'light')
      } else {
        localStorage.setItem('theme', 'dark')
      }

      setTheme()
  }
  function setTheme() {
    let stylesheet = "/static/styleColorsLight.css";  // Light theme is default
    if (localStorage.getItem('theme') == 'dark') stylesheet = "/static/styleColorsDark.css";
    document.getElementById("pageColors").setAttribute("href", stylesheet);
    axisUpdated()
  }
  window.addEventListener("onLoad", setTheme() );

  // --------------------
</script>
{% endblock %}
