{% extends "layout.html" %}

{% block head %}
  <title> Home - Teacher Compass </title>
{% endblock %}

{% block content %}

  <div class="grid-container">
    <!-- Header -->
    <div class="item1">
        <div class="navbar-title">The Definitive Teacher Compass</div> <div class="navbar-subtext">You are signed in, welcome {{current_user.name}}. <a href="/home"> Return to homepage </a> </div>
    </div>

    <!-- Left spacer
    <div class="item2"></div>
     -->

    <!-- Image -->
    <div class="item3">
      <br>
      <canvas id="compassCanvas" width="800" height="562"
      style="border:0px;">
      Your browser does not support the canvas element
      </canvas>
    </div>

    <!-- Text -->
    <div class="item4">
        <div class="teacherSelect">

          <form class="teacherValueSubmit" action="/score" method="POST" novalidate>
          <p style="display:inline"> Select a teacher: </p>  <!-- I don't know why display inline isn't working but the div can't set it so it has to be set manually -->

          <select name="TeacherCode" class="teacherCodeSelect" value="">
              <option id="TeacherSelectDefault" value="SelectATeacher"> Select a teacher </option>
            {% for teacher in teachers %}
              <option value="{{teacher}}">{{teacher}}</option>
            {%endfor%}
          </select>

          <input type="submit" value="Submit values">

          <br>

          <p style="display:inline"> X value: </p>
          <input type="number" name="xInput" value="0" min="-10" max="10" step="0.1" class="axis">

          <p style="display:inline"> Y value: </p>
          <input type="number" name="yInput" value="0" min="-10" max="10" step="0.1" class="axis">

          <p style="display:inline"> Z value: </p>
          <input type="number" name="zInput" value="0" min="-10" max="10" step="0.1" class="axis">

          </form>

          <!--- Flask flashing code: --->
          {% with messages = get_flashed_messages(category_filter=['info']) %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}

        </div>
      <p class="info-text"> Welcome to the Burnside teacher compass. On this page you can select
        a teacher and rate them. To return to the main page, click on the link in the top right corner.</p>
      <br>
      <p class="info-text"> <b>X axis:</b> </p>
      <ul>
        <li>More caring: Viewed as more compassionate. You could probably confide and have more casual conversations with them.</li>
        <li>More punitive: Less lenient, more likely to tell you off for minor infractions which other teachers might ignore.</li>
      </ul>

      <p class="info-text"> <b>Y axis:</b> </p>
      <ul>
        <li>Authority: More strict around school guidelines and following directives from the higher ups. Not to be confused with punitive as strict teachers can still be nice. No-nonsense approach to learning. Not someone you would tell a joke to.</li>
        <li>Relaxed: Less strict around school guidelines. More lenient, especially around minor uniform infractions or being minorly late. Are less controlling over student approaches to learning.</li>
      </ul>

      <p class="info-text"> <b>Z axis:</b> </p>
      <ul>
        <li>Self-directed learning: Less input and control over the path of lessons. Typically more flexible on lessons and time dedicated to certain topics. Class time is more student oriented with plenty of time for students to discuss and individually research. The teacher generally hovers around the class giving assistance to students when it is needed.</li>
        <li>Directed learning: More input and control over the path of lessons. Less flexible on lessons and time dedicated to certain topics. Class time is teacher oriented with the teacher walking the class through concepts. Little or no time is given to student discussion and individual tasks.</li>
      </ul>
    </div>

    <!-- Right spacer

    <div class="item5"></div>
    -->

    <!-- Footer -->
    <div class="item6">
      <p class="footer-text"> Made by Oliver Coates (approved by Jayden Ling)</p>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  function fetchValues() {
    /* Ask the database for the x, y and z values for the newly selected teacher code */
    if (document.querySelector(".teacherCodeSelect").selectedIndex != 0)
    {
      const teacher_code = document.querySelector(".teacherCodeSelect").value
      fetch(`/api/score/${teacher_code}`)
        .then(response => response.json())
        .then(data => {
            document.querySelector("[name=xInput]").value = data.x;
            document.querySelector("[name=yInput]").value = data.y;
            document.querySelector("[name=zInput]").value = data.z;
            /* Update the chart */
            axisUpdated()
        });
    }
    else{
      document.querySelector("[name=xInput]").value = 0;
      document.querySelector("[name=yInput]").value = 0;
      document.querySelector("[name=zInput]").value = 0;
      axisUpdated()
    }
  }

  function getCursorPosition(canvas, event) {
    const rect = canvas.getBoundingClientRect()
    const x = event.clientX - rect.left
    const y = event.clientY - rect.top
    /*console.log("x: " + x + " y: " + y)*/

    // Check if teacher select default is selected
    if (document.querySelector(".teacherCodeSelect").selectedIndex != 0)
    {

      if (x > 88 && x < 520 && y > 66 && y < 497)
      {
        document.querySelector("[name=xInput]").value = Math.round(((((x - 88) - 216 ) / 216) * 10) * 100) / 100; // Thos works fine
        document.querySelector("[name=yInput]").value = -(Math.round(((((y - 66) - 216 ) / 216) * 10) * 100) / 100)
      }

      if (x > 650 && x < 714 && y > 66 && y < 495)
      {
        document.querySelector("[name=zInput]").value = ((((y - 66) - 216) / 216) * 10).toFixed(2);
      }



    }


    // Round:
    //document.querySelectorAll(".axis").forEach(item => {
    //  item.value = Math.round(item.value * 100) / 100;  // Round to 2dp
    //});


    axisUpdated();
  }

  const canvas = document.querySelector('#compassCanvas')
  canvas.addEventListener('mousedown', function(e) {
      getCursorPosition(canvas, e)
  })

  document.querySelector(".teacherCodeSelect").addEventListener("change", fetchValues)

  /*console.log("here "); */
  const context = document.querySelector("#compassCanvas").getContext("2d");
  const image = new Image();
  image.src = "/static/compass.png";
  image.addEventListener("load", () => {
    context.drawImage(image, 0, 0, 800, 562);
    axisUpdated();
  });

  function axisUpdated() {
    /*console.log("2") */
    context.clearRect(0, 0, 800, 562);
    context.drawImage(image, 0, 0, 800, 562);
    if (document.querySelector(".teacherCodeSelect").selectedIndex != 0)
    {
      /*console.log("Test"); */
      context.beginPath();
      // arc( x value | y value | diameter | leave everything else)
      const posX = parseFloat(document.querySelector("[name=xInput]").value) * 21.6 + 303;
      const posY = -parseFloat(document.querySelector("[name=yInput]").value) * 21.6 + 281;
      const posZ = parseFloat(document.querySelector("[name=zInput]").value) * 21.6 + 281;
      context.arc(posX, posY, 5, 0, 2 * Math.PI);
      context.arc(681, posZ, 5, 0, 2 * Math.PI);
      context.fillStyle = 'red';
      context.fill();
    }

  }

  document.querySelectorAll(".axis")
    .forEach(input => input.addEventListener("input", (event) => {
      /* event.target.value = Math.round(event.target.value * 100) / 100  // Round to 2dp */

      if (event.target.value < -10) {
        event.target.value = -10
      } else if (event.target.value > 10 ){
        event.target.value = 10
      }

      /*else if (event.target.value == '')
      {
        event.target.value = 0
      } */
      axisUpdated()
    }));

</script>
{% endblock %}
