{% extends "layout.html" %}

{% block head %}
  <title> Home - Teacher Compass </title>
{% endblock %}

{% block content %}
  <a href="/home"> Return to homepage </a>


  <div class="grid-container">
    <div class="item1"> This is the header </div>
    <div class="item2"> This is the left spacer </div>
    <div class="item3">
      <img src="/static/compass.png" alt="compass.png" class="compass-image">
    </div>
    <div class="item4"> This is the text </div>
    <div class="item5"> This is the right spacer </div>
    <div class="item6"> This is the footer </div>
  </div>
{% endblock %}
